<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414030755976-hfv8qvjc09j9764fct0l375fqh73gqpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414030755976-hfv8qvjc09j9764fct0l375fqh73gqpa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414030755976-5vje6stho8a2u2ed766v5pul3476a2o1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCek-GYYKmxEk6gsKm09UnBfIjxcoZkpOA</string>
	<key>GCM_SENDER_ID</key>
	<string>414030755976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaloglu.BedavaNeVar</string>
	<key>PROJECT_ID</key>
	<string>bedavanevar-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>bedavanevar-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414030755976:ios:67e271792f706bcd</string>
	<key>DATABASE_URL</key>
	<string>https://bedavanevar-2019.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-0165663276066705~4520522723</string>
</dict>
</plist>